body
{
  background-color: #5ede67;
  background-image: url(gambar1.jpg);

}
h1
{
  text-align: center;
}

a:link , a:visited ; a:active
{
  width : 200px;
  margin: 2px;
  background-color: #059305;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover
{
  width : 200px;
  margin: 2px;
  background-color: #c60909;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

img
{
  width : 400px;
  display : block;
  margin-left: auto;
  margin-right: auto;
}

#lagu
{
  text-align: center;
  font-family: verdana;
  font-size: 18px;
  font-style: italic;
}

a
{
  text-align: center;
  font-family: verdana;
  font-size: 18px;
  font-style: italic;
}

.kotakpertama
{
  text-align: center;
  text-shadow: 0px;
  font-family: inherit;
}
audio
{

}
