.navbar {
    background-image: linear-gradient(to bottom, #f7f7f7 0%,#eee 100%);
    border: 1px solid #e5e5e5;
}

.bloklagu
{
  width: 700px;
  box-shadow: 5px 5px #5b6783;
  background-color: #dcd8eb;
  border-radius: 7px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  overflow: hidden;
  display: none;
  position: center;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
}
.boxgambar
{
  width:100%;
  height: 300px;
  overflow:hidden;
}
.gambarlagu
{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  display:block;
}
.judullagu
{
  color:#7f2edl;
  font-family: 'Merienda'
  text-shadow: 2px 2px #343537;
}
.textlagu
{
  font-family: 'Short Stack'
}
.content
{
  width: 75%;
  margin-left: 25%;
}
@media screen and (max-width:720px){
  .content
  {
    width: 100%;
    margin-left: auto;
  }

  .bloklagu
  {
    width: 95%;
  }
}
